.imgLogo{
    width: 300px;
    height: 300%;
    margin-left: 500px;  
}
.gif{
    width: 150px;
    margin-left: 580px;
}

@media (max-width: 768px){
.testelogo{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.imgLogo{
    width: 300px;
    height: 300%;
    margin-left: 200px;
    margin-top: 10px;
}
.gif{
     width: 150px;
     margin-left: 260px;
}
    }