.container {
    perspective: 400px;
    width: 20%;
    height: 190px;
    
}

.container_content div {
    display: inline-table;
    margin: 1vh;
}
.card:nth-child(3n) {
    margin-right: 0;
}

.card:nth-child(3n+1) {
    margin-left: 0;
}


.card_container {
    align-items: center;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fb1;;
    text-align: center;
    border: 2px solid black;
    box-shadow: 4px 4px 20px rgba(12, 12, 12, 0.919);
}



.card_container p {
    margin: 5px 0;
    font-size: 14px;
    
}

.products {
    border: 1px solid black;
    padding: 10px;
}

li {
    list-style-type: none; 

}

@media (max-width: 40rem) {
    .container_content{
        margin: -27px;
        margin-top: 5vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }

}
