.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  gap: 2rem;
}

.login::before {
  display: block;
  content: '';
  width: 100%;
  background: url('../../Assets/logoburgergame.jpeg') no-repeat center;
}

.forms {
  max-width: 30rem;
  padding: 1rem;
  margin-top: 20vh;
}

@media (max-width: 80rem) {
  .login {
    grid-template-columns: 1fr ;
    min-height: 100vh;
    gap: 1rem;
  
  }
  .login::before {
    display: grid;
    content: '';
    width: 100%;
    margin-top: 50px;
    }
  .forms {
    max-width: 80%;
    margin-top: 1vh;
  }
}

@media (max-width: 40rem) {
  .login {
    grid-template-columns: 1fr;
    
  }
  .login::before {
    display: none;
  }
  .forms {
    max-width: 70%;
    margin-top: 4vh;
  }
}
