body{
  background-image: url('../../Assets/Tela.jpeg');
  background-repeat: no-repeat;
}

.form{
  width: 400px;
  height: 380px;
  background-color: #e45412;
  margin-left: 420px;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 8px 0px #383636;
}

.register{
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  padding: 3rem 2rem;
}

.button{
  display: flex;
  flex-direction: column;
  margin-left: 200px;
}

a{
  text-align: center;
}

h1.title{
  text-align: center;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: -20px;
  font-size: 40px;
  font-weight: bold;
}

div.register{
  margin-top: 4rem;
  margin-bottom: 4rem;
}

div.register p{
  text-align: center;
  margin-bottom: 2rem;
  font-size: 17px;
  margin-top: -100px;
}

.subtitle{
  font-family: var(--type-second);
  line-height: 1;
  font-size: 30px;
}

@media (max-width: 768px){
  body{
    background-repeat: no-repeat;
    background-size: 768px 520px;
  }

  .form{
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #e45412;
    margin-left: 160px;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 8px 0px #383636;
    height: 450px;
    margin-bottom: 50px;
  }

  h1.title{
    text-align: center;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: bold;
    margin-top: 3px;
  }

  div.register{
    display: flex;
    align-items: center;
    
  }

  .button{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
  }

  a{
    text-align: center;
    color: white;
  }
}